.header-container {
    padding: 16px;
    margin: 0;
    background: #1a73e8;
    display: flex;
    justify-content: space-between;
        .header-action-contianer {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            
        }
            .header-action-item {
                font-size: 16px;
                font-weight: 600;
                padding: 5px;
            }
            .header-date-time{
                span{
                    color: #fff;
                }
            }
}